/* Example CSS for our example control */

.cropper-wrapper {
  background: white;
  border: dashed lightskyblue 1px;
  padding: 4px 8px 42px;
  height: 600px;
  width: 480px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.cropper-wrapper-text {
  color: darkslategray;
  font-size: 15px;
}

.common-input {
  font-size: 15px;
  color: black;
  background: #ddd;
  border-radius: 3px;
  padding: 4px 6px;
  border: solid 1px silver;
}

.divCropper{
  max-height: 100%;
  display: block;
}

.controls-wrapper{
  background: white;
  border: dashed lightskyblue 1px;
  padding: 4px 8px 42px;
  height: 120px;
  width: 480px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}